@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
/*Variables*/
/*General*/
body {
  font-family: "Lato", sans-serif; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

/*Nav*/
.navbar {
  background: transparent !important; }
  .navbar .logo {
    width: 85px; }
    @media (max-width: 576px) {
      .navbar .logo {
        width: 65px; } }
  .navbar .nav-item {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important; }
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .navbar .navbar-toggler {
    border-color: transparent;
    font-size: 2.25rem; }
    .navbar .navbar-toggler:focus {
      outline: none !important; }
  @media (max-width: 991px) {
    .navbar {
      background: #111111 !important; } }

/*Titres*/
h1 {
  font-size: 7rem;
  line-height: 3.5rem;
  margin-left: 12px;
  margin-top: 5%; }
  h1 .h1-partie1 {
    font-size: 3.5rem; }
    h1 .h1-partie1 .barre {
      color: #d63251; }
    @media (max-width: 715px) {
      h1 .h1-partie1 {
        font-size: 2.5rem; } }
    @media (max-width: 530px) {
      h1 .h1-partie1 {
        font-size: 1.5rem; } }
  h1 .h1-partie2 {
    font-size: 2rem;
    font-weight: 300;
    display: block;
    margin-top: -8px; }
    @media (max-width: 715px) {
      h1 .h1-partie2 {
        font-size: 1.5rem; } }
    @media (max-width: 530px) {
      h1 .h1-partie2 {
        font-size: 1rem; } }
  @media (max-width: 991px) {
    h1 {
      text-align: center; } }
  @media (max-width: 715px) {
    h1 {
      font-size: 5.5rem;
      line-height: 3rem; } }
  @media (max-width: 530px) {
    h1 {
      font-size: 3.5rem;
      line-height: 2rem; } }

h2 {
  color: #d63251; }
  h2::after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 3px;
    width: 80px;
    border-bottom: 1px solid #d63251; }

/*Padding*/
section {
  padding-top: 80px;
  padding-bottom: 80px; }

/*Mixins*/
/*Sections*/
header {
  background: url("../img/home.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

#presentation {
  background: #d63251; }

#produit {
  background: url("../img/produit.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 400px; }
  @media (max-width: 767px) {
    #produit {
      padding-bottom: 300px; } }
  #produit .barre-attendiez {
    border: solid 1px #FFFFFF;
    padding-top: 35px;
    padding-bottom: 10px; }
    #produit .barre-attendiez p {
      font-size: 4rem;
      line-height: 2rem; }
      @media (max-width: 447px) {
        #produit .barre-attendiez p {
          font-size: 3rem;
          line-height: 2rem; } }
    #produit .barre-attendiez .attendiez {
      font-size: 2rem; }
      @media (max-width: 447px) {
        #produit .barre-attendiez .attendiez {
          font-size: 1.5rem;
          line-height: 0rem; } }

#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/contact.jpg) no-repeat center;
  background-size: cover; }
  #contact .form-control {
    border: 0;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #FFFFFF;
    width: 90%; }
    #contact .form-control:focus {
      box-shadow: none !important; }
    @media (max-width: 767px) {
      #contact .form-control {
        width: 100%; } }
  #contact textarea {
    border: 1px solid #FFFFFF !important;
    margin-top: 35px;
    height: 76%;
    width: 100% !important; }
  #contact .btn-primary {
    background: transparent;
    border: 1px solid #d63251;
    border-radius: 0;
    margin-top: 90px; }
    #contact .btn-primary:hover {
      background: #d63251; }
    #contact .btn-primary:focus {
      box-shadow: none !important; }

footer {
  background: #111111; }

/*# sourceMappingURL=style.css.map */
