@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

/*Variables couleurs*/
$font: 'Lato', sans-serif;
$pink:    #d63251;
$gray-600: #111111;
$primary: $pink;
$secondary: $gray-600;
$transparent: transparent;
$white-color: #FFFFFF;

/*Variables font-size*/
$display5-size: 2.25rem;
$h1-font-size: 7rem;

/*General*/
body {
    font-family: $font;
}

/*Nav*/
.navbar {
    .logo {
        width: 85px;
        @media (max-width: 1024px) { 
            width: 65px !important;
        }
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-toggler {
        border-color: $transparent;
        font-size: $display5-size;
        &:focus {
            outline: none !important;
        }
    }
    @media (max-width: 991px) { 
        background: $secondary !important;
    }
    @media (max-width: 1024px) { 
        padding: 0 !important;
        background: #111111 !important;
    }
}

.itemRose {
    color: $pink !important;
    font-weight: 700;
}

.itemWhite {
    color: $white-color !important;
    font-weight: 300;
}

/*Titles*/
h1 {
    font-size: $h1-font-size;
    line-height: 3.5rem;
    margin-left: 12px;
    margin-top: 5%;
    .h1-partie1 {
        font-size: 3.5rem;
        .barre {
            color: $primary;
        }
        @media (max-width: 715px) { 
            font-size: 2.5rem;
        }
        @media (max-width: 530px) { 
            font-size: 1.5rem;
        }
    }
    .h1-partie2 {
        font-size: 2rem;
        font-weight: 300;
        display: block;
        margin-top: -8px;
        @media (max-width: 715px) { 
            font-size: 1.5rem;
        }
        @media (max-width: 530px) { 
            font-size: 1rem;
        }
    }
    @media (max-width: 991px) { 
        text-align: center;
    }
    @media (max-width: 715px) { 
        font-size: 5.5rem;
        line-height: 3rem;
    }
    @media (max-width: 530px) { 
        font-size: 3.5rem;
        line-height: 2rem;
    }
}

h2 {
    color: $pink;

    &::after {
        content: "";
        display: block;
        margin: auto;
        margin-top: 3px;
        width: 80px;
        border-bottom: 1px solid $primary;
    }
}

/*Padding*/
section {
    padding-top: 80px;
    padding-bottom: 80px;
}

/*Mixins*/
@mixin bgimage($fileName) {
    $url:"../img/#{$fileName}.jpg";
    background: url($url) no-repeat center;
    background-size: cover;
}

/*Sections*/
header {
    @include bgimage(home);
    background-position: left;
    background-attachment: fixed;
    height: 100vh;
}

#presentation {
    background: $primary;
}

#produit {
    @include bgimage(produit);
    padding-bottom: 400px;
    @media (max-width: 767px) { 
        padding-bottom: 300px;
    }
    .barre-attendiez {
        border: solid 1px $white-color;
        padding-top: 35px;
        padding-bottom: 10px;
        p {
            font-size: 4rem;
            line-height: 2rem;
            @media (max-width: 447px) {
                font-size: 3rem;
                line-height: 2rem;
            }
        }
        .attendiez {
            font-size: 2rem;
            @media (max-width: 447px) {
                font-size: 1.5rem;
                line-height: 0rem;
            }
        }
    }
}

#contact {
    background:linear-gradient(rgba(0, 0, 0, 0.95),rgba(0, 0, 0, 0.95)), url(../img/contact.jpg) no-repeat center;
    background-size: cover;
    .form-control {
        border:0;
        color: $white-color;
        background: $transparent;
        border-radius: 0;
        border-bottom: 1px solid $white-color;
        width: 90%;
        &:focus {
            box-shadow: none !important;
        }
        @media (max-width: 767px) { 
            width: 100%;
        }
    }
    textarea {
        border: 1px solid $white-color !important;
        margin-top: 35px;
        height: 76%;
    }
    .btn-primary {
        background: $transparent;
        border: 1px solid $primary;
        border-radius: 0;
        margin-top: 90px;
        &:hover {
            background: $primary;
        }
        &:focus {
            box-shadow: none !important;
        }
    }
}

footer {
    background: $secondary;
    .logo {
        width: 80px;
    }
    .mockup {
        margin-top: -12px;
    }
    .navbar {
        background: $transparent !important;
    }
    .active {
        font-weight: 700;
        color: $primary !important;
    }
    /*Mixin*/
    @mixin circle {
        border: solid 1px $white-color;
        border-radius: 50px;
        height: 30px;
        padding: 10px;
        &:hover {
            border: solid 1px $pink;
        }
    }
    .circle-facebook {
        @include circle;
        &:hover {
            background: $pink;
        }
    }
    .circle-twitter {
        @include circle;
        padding-left: 7px;
        padding-right: 6px;
        &:hover {
            background: $pink;
        }
    }
    .circle-instagram {
        @include circle;
        padding-left: 8px;
        padding-right: 7px;
        padding-top: 9px;
        &:hover {
            background: $pink;
        }
    }
    .fab {
        display: block;
        margin-top: -3px;
    }
    a {
        color: $white-color;
        &:hover {
            color: $white-color;
            text-decoration: none;
        }
    }
    .mentions {
        &:hover {
            color: $pink;
        }
    }
    .navbar-footer {
        @media (max-width: 1024px) { 
            padding: .5rem 1rem !important;
        }
    }
}